<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.androidtown.seobang_term_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/title"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.info.InfoActivity" />
        <activity android:name=".ui.ingredient.IngredientSelectActivity" />
        <activity android:name=".ui.tutorial.TutorialActivity" />
        <activity android:name=".ui.recipe.RecipeSelectActivity" />
        <activity android:name=".ui.ingredient.RecipeFromIngredientActivity" />
        <activity android:name=".ui.recipe.RecipeActivity" />
        <activity android:name=".ui.intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.recipe.RecipePreviewActivity"></activity>
    </application>

</manifest>